<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DataInput</servlet-name>
        <servlet-class>erpServs.DataInput</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchData</servlet-name>
        <servlet-class>erpServs.FetchData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetStock</servlet-name>
        <servlet-class>erpServs.GetStock</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DataInput</servlet-name>
        <url-pattern>/DataInput</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchData</servlet-name>
        <url-pattern>/FetchData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetStock</servlet-name>
        <url-pattern>/GetStock</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
